.TamañoLogoLogin{
        width: 5rem;
        height: 5rem;
}
.colorFondoLogin{
        background-color: #ffbe0b;
}
.tipo-letra{
        font-family: 'Mongolian Baiti';
}
.ColorBotonPrimero{
background-color: #4cc9f0;
}
.ColorBotonSegundo{
        background-color: #ef476f;
}
.tamañoFacebook{
        width: 2 rem;
        height: 2rem;
}
.tamañoImagenLogin{
        width: 30rem;
        height: 25rem;
}
.tamaño-cards{
width: 60rem;

}
/* ////////////// */
.fondoColorLoginCreacionDeUser{
        background-color: #ffd60a;
}
.tamañoDeLogoLogin{

width: 20rem;
height: 20rem;
}
.TamañoDeIconosEnLogin{
        width: 2rem;
        height: 2rem;
}
.tamaño-logo-dos{
width: 7rem;
height: 7rem;

}

.tamañocardsdos{
        width: 70rem;
}